/* styles.css */

.header-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Dark text color */
}

.button {
    -fx-font-size: 12px;
}

.text-field {
    -fx-font-size: 12px;
}

.checkbox {
    -fx-font-size: 12px;
}

.your-tabpane-style {
    -fx-padding: 0;
    -fx-margin: 0;
}
